# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Production
.vercel

# Misc
.DS_Store
*.pem

# Debug
*.log
.npm

# Local env files
.env*.local
.env

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Documentation
README.md
INSTRUCCIONES.md
*.md

# CI/CD
.github
.gitlab-ci.yml
